* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body{
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
    overflow: hidden;
    background-color: var(--primary-color);
    color: var(--on--primary);
}

main {
    background-color: var(--primary-color);
    color: var(--on--primary);
    display: flex;
    /*grid-template-columns: 1fr minmax(40%, 3fr) 1fr;*/
    /*min-width: 40%;*/
    gap: 10px;
    padding: 10px;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

main>div {
    color: var(--on-surface)
}

#player {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    padding: 5px;
    background-color: var(--surface-color);
    color: var(--on-surface);
}

#sidebar {
    flex: 1 1 15%;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 10px;
    overflow-y: hidden;
    background-color: var(--primary-color);
    color: var(--on--primary);
    box-shadow: var(--box-shadow);
    padding: 0;
}

#logo {
    background-color: var(--surface-color);
    /*color: var(--on-surface);*/
    font-family: "Pacifico", serif;
    /*transform: rotate(-5deg);*/
    padding: 10px;
    border-radius: 10px;
    color: var(--accent-color);
}

#quick_actions{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-content: center;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--surface-color);
    color: var(--on-surface);
}

#quick_actions button {
    font-size: large;
    text-align: left;
    padding: 5px;
    border: none;
}

#library {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: var(--surface-color);
    color: var(--on-surface);
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    overflow-y: hidden;
}

#library_actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}


#content {
    flex: 5 1 20%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-content: stretch;
    align-items: stretch;
    overflow: hidden;
    background-color: var(--surface-color);
    color: var(--on-surface);
    border-radius: 10px;
    padding: 10px;
}

#content > div {
    overflow: hidden;
}

#queue{
    flex: 1 1 15%;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
    background-color: var(--surface-color);
    color: var(--on-surface);
    border-radius: 10px;
    padding: 10px;
    overflow-y: hidden;
}

#track_info {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
}

#player_controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#player_controls .controls{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#player_controls .controls button{
    font-size: x-large;
}

#player_controls .track_slider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: center;
    gap: 5px;
    font-size: small;
    min-width: 50%;
}

#player input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    margin: auto;
    width: 100%;
}

input[type="range"]::-webkit-slider-runnable-track, input[type="range"]::-moz-range-track{
    width: 100%;
    background: var(--button-color);
    overflow: hidden;
}

input[type="range"]::-webkit-slider-thumb, input[type="range"]::-moz-range-thumb {
    visibility: hidden;
}

input[type="range"]:hover::-webkit-slider-thumb, input[type="range"]:hover::-moz-range-thumb {
    visibility: visible;
    height: 10px;
    width: 10px;
    cursor: pointer;
    background: var(--accent-color);
}

input[type="range"]::-webkit-progress-value, input[type="range"]::-moz-range-progress {
    background: var(--on-surface);
}


.items {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    overflow-y: auto;
}

.item{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.item img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.item .info .author {
    font-size: smaller;
}


#account {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    align-content: center;
    align-items: center;
    gap: 8px;

}

#account img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#account > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#account input[type="range"]{
    width: 80px;
}